@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

:root {
  --color-brand-dark: #011c44;
  --color-brand-light: #2b7fff;
}

/*base*/

body {
  color: var(--color-brand-dark);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

ul {
  list-style-type: none;
}

/*button*/

.button {
  color: #ffffff;
  font-weight: 600;
  background-color: var(--color-brand-light);
  border-radius: 32px;
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  border-radius: 32px;
  border: 2px solid var(--color-brand-light);
}

/*link*/

.link {
  color: var(--color-brand-dark);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.link2,
.address-link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.link2:hover,
.address-link:hover {
  color: var(--color-brand-light);
}

.adress-copyright {
  color: #747272;
  font-size: 13px;
}

/*hero-section*/

.hero-title {
  color: var(--color-brand-light);
  font-family: "play", sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81;
  text-align: left;
  text-transform: capitalize;
}

.section-title,
.section-title-two {
  color: var(--color-brand-dark);
  font-size: 64px;
  font-weight: 700;
}

.section-title-two {
  text-align: center;
}

span.accent,
.accent-beauty {
  color: var(--color-brand-light);
}

span.capitalize,
span.accent-beauty {
  text-transform: capitalize;
}

span {
  font-weight: 600;
}

.one {
  color: #4a4a4a;
  font-size: 12px;
  line-height: 1.5;
}

.two {
  font-size: 22px;
  line-height: 1.73;
}

div {
  color: #000;
  line-height: 1.3;
  text-align: center;
}

/*footer*/

footer {
  background: #011c44;
}
